## Import packages
import(methods)
import(fastICA)
import(fGarch)
## Import functions
importFrom(stats,
           logLik,
           resid,
           ts,
           as.ts,
           as.formula,
           cov2cor,
           nlminb,
           optim,
           update.formula)
importFrom(utils,
           combn,
           head)
## Classes       
exportClasses(Goestml,
              Goestmm,
              Goestnls,
              GoGARCH,
              Goinit,
              Gopredict,
              Gosum,
              Orthom)
## Methods
exportMethods(angles,
              cvar,
              ccor,
              ccov,
              coef,
              converged,
              formula,
              goest,
              logLik,
              M,
              plot,
              predict,
              show,
              summary,
              t,
              residuals,
              resid,
              update)
## Functions
export(cora,
       gogarch,
       goinit,
       gollh,
       gonls,
       gotheta,
       Rd2,
       Umatch,
       UprodR,
       unvech,
       validOrthomObject,
       validGoinitObject)



